

form {
  width: 100%;
}

img {
    display: block;
    margin: 200px auto 0;
    width: 300px;
}
.enter_text {
  width: 45%;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #b1aeae;
  outline:
}

.enter_text:hover {
  border: 1px solid #777373;
}

input {
  display: block;
  width: 90%;
  height: 25px;
  margin: 7px;
  border: none;
  outline: none;
}
