<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My homework_js11-12</title>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!--template-->
    <script src="js/tmpl.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="wrapper">

      <form method="post">
        <img src="img/search.jpg" alt="" />

        <div class="box_search">
          <div class="enter_text">
            <input type="text" placeholder="Введите поисковый запрос или URL">
          </div>
          <input type="button" id="find" value="Search">
        </div>

      </form>

        <script type="text/template" id="result">
            <form>
              <% for(var i = 0; i < data.length; i++) {%>
            <div class="content-block-<%= i+1 %>">
              <h2><%= data[i].question %></h2>

              <label>
                <input type="checkbox" id="<%= i+1 %>-variant" value="<%= data[i].answer1 %>">
                <span><%= data[i].answer1 %></span>
              </label>
            </form>

        </script>

    </div>
      <div id="overlay"></div>
</body>
</html>
